.board {
  aspect-ratio: 1 / 1;
}

.black {
  transform: rotate(180deg);
}

.black .piece {
  transform: rotate(180deg);
}

.light {
  background-color: #F4EAC7;
}

.dark {
  background-color: #968864;
}

.dark.selected {
  background-color: #bbcb2b;
}

.light.selected {
  background-color: #f7f769;
}

.movable {
  background-color: red;
}
