.chessboard {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}

.piece {
  height: 100%;
  display: block;
  margin: auto;
}

.square {
  width: 50px;
  height: 50px;
}

.light {
  background-color: #eeeed2;
}

.dark {
  background-color: #769656;
}

.movable {
  background-color: red;
}
